version: "3.4"
services:
  php:
    build: .
    volumes:
      - ./www/index.php:/var/www/index.php
  nginx:
    build:
      context: .
      dockerfile: Dockerfile_nginx
    ports:
      - "80:80"
    depends_on:
      - php
    healthcheck:
      test: curl --fail http://localhost || exit 1
      interval: 60s
      retries: 5
      start_period: 20s
      timeout: 10s